body {
    font-family: 'Poppins';
    background-color: $lightGrey;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 1rem;
    position: relative;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 2rem;
    width: 75%;
    border: 1px solid transparent;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 10rem;
}

.input-group-wrapper {
    display: flex;
    gap: 1.5rem;

    .input-group {
        color: $smokeyGrey;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin-bottom: 2rem;

        label {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: .7rem;
        }

        input {
            font-size: 1rem;
            font-weight: 700;
            padding: .75rem 1rem;
            width: 18vw;
            border: 1px solid $lightGrey;
            border-radius: .25rem;
            cursor: pointer;
            outline: none;

            @media screen and (max-width: $medium) {
                width: 10vw;
                font-size: .75rem;
            }

            &:focus {
                border-color: $purple;
            }
        }
    }
}

.seperator-wrapper {
    position: relative;

    .seperator {
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: $lightGrey;
    }

    .circle-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $purple;
        cursor: pointer;
        transition: .25s background-color;
        position: absolute;
        right: 0;
        bottom: -2rem;

        @media screen and (max-width: $medium) {
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            background-color: $offBlack;
        }
    }
}

.result-wrapper {
    margin: 4rem 0;
    
    .result-group {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-style: italic;
        font-weight: 800;
        font-size: 4rem;
        margin: -2rem 0;

        @media screen and (max-width: $medium) {
            font-size: 2rem;
        }

        * {
            margin: 0;
        }

        .output {
            color: $purple;
        }

        .info {
            color: $offBlack;
        }
    }
}